<!-- Footer Start -->
<div class="container-fluid pt-4 px-4" style="background-color: #f5f6f7;">
    <div class="bg-secondary rounded-top p-4"  style="background-color: #fb6340 !important;">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start" style="color:#fff">
                &copy; <span >Bản quyền thuộc về </span><a href="#" style="font-weight: bold;color: #bdbdbd;">TheEvent</a>. 
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end" style="color:#fff">
                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                <span>Thiết kế bởi </span><a href="https://htmlcodex.com" style="font-weight: bold;color: #bdbdbd;">TheEvent</a>
                <!-- <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a> -->
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->